.card ul li:first-child
{
    background-color: rgb(255, 248, 248) !important;
    font-weight: bold;
    cursor: pointer;
}
.card ul li:first-child a
{
    text-decoration: none;
    color: rgb(189, 181, 181);
}
.card ul li:first-child:hover
{
    background-color: white !important;
}
.card ul li:last-child
{
    background-color: rgb(37,204,247) !important;
    font-weight: bold;
    cursor: pointer;
}
.card ul li:last-child a
{
    text-decoration: none;
    color: white !important ;
}

/* button save */
.changes .save
{
    width: 114.56px;
}

/**  responsive *****/

.fot .info ul.social {
    padding-left: 20px;
    text-align: inherit;
}

.fot .logo a img
{
    width: 20%;
}
@media (min-width: 769px){
    .fot .logo a img{
        margin-top: -10px;
    }
}
@media (max-width: 991px){
    .dropdown {
        text-align:center;
        padding-left: 33px;
    }
    .navbar-nav .dropdown-menu{
        background-color: unset; 
        border: unset; 
        text-align: center;
        padding-bottom: 30px 
        }
    .dropdown-item{
        color: #fff;
        font-weight: 600;
        transition:all 0.3s ease-in-out;
    }
    .dropdown-item:hover{
        background-color:unset;
        color: #FC427B
    }
    } 
    
    @media (max-width: 991px){
        .dash {
            text-align: -webkit-center;
            margin-top: -20px;
            margin-bottom: 20px;
        }
        .fot .lawyer h2,
        .fot .logo a img
        {
            padding-top: 33px;
        }
       
        } 

        @media (max-width: 767px){
            .fot .help h2
            {
                padding-top: 33px;
            }
           
            } 
    